@function scale($base-size, $scale-by: 1) {
  @return $base-size * $scale-by;
}

$base: 1em;
$sizes-xs: scale($base, 0.25);
$sizes-s: scale($base, 0.5);
$sizes-m: $base;
$sizes-l: scale($base, 2);
$sizes-xl: scale($base, 4);

$navHeight: scale($base, 3);

$base-border: 2px;
$border-xs: scale($base-border, 0.25);
$border-s: scale($base-border, 0.5);
$border-m: $base-border;
$border-l: scale($base-border, 2);
$border-xl: scale($base-border, 4);

$container-max-width: 700px;
$container-min-width: 320px;
